<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dao.mapper.DeptMapper">
    <!-- 目的：为DAO接口方法提供sql语句配置 -->



    <select id="selectDept" resultType="org.dao.model.Dept">
        SELECT
        <include refid="dept_column"/>
        FROM DEPT
    </select>


    <sql id="dept_column">
        DEPTNO AS deptNo,
        DNAME AS dName,
        LOC AS loc
    </sql>

</mapper>